#container {
    max-width: 500px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    font-size: 100%;
    text-align: center;
    padding: 3px;
}
th.qty {
    font-size: 90%;
}
.left {
     text-align: left;
}
.right {
     text-align: right;
     padding-right: 8px;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.pad_L {
    padding-left: 15px;
}
.pad_R {
    padding-right = 2px
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
th {
    padding = 5px;
    border-spacing = 20px;
}
.currency:before {
    content: '$';
}
#clear_btn {
    width: 50%;
}
.grand_cells {
    font-size: 120%;
    font-weight: bold;
    text-align: right;
}
#grand_total{
    font-weight: bold;
    font-size: 130%;
    padding-right: 10px
}
#grand_total:before {
    content: '$';
    font-size: 90%;
    padding-right: 2px;
}
input {
    width: 35px;
    text-align: right;
}
input:focus {
    font-weight: bold;
    color: blue;
}
