body {
  font-family: sans-serif, Helvetica, Arial;
  font-size: 12pt;
}

.chapter-hr {
  color: blue;
  border-width: medium;
  padding-top: 8rem;
}

.text-holder {
  height: 400px;
  overflow: scroll;
}
